<h1>client home</h1>
<h3>该页面主要用于用户查看所拥有的金融卡的状态</h3>

<br>
 <div class="container">
	<div class="row">
		<div class="span5">
            <table class="table table-striped table-condensed">
                  <thead>
                     <h3>用户：Jobs </h3>
                  <tr>
                      <th>卡号</th>
                      <th>状态</th>
                  </tr>
              </thead>
              <tbody>
                 <tr>
                    <td>A12321223</td>
                    <td><span class="label label-important">Banned</span></td>
                </tr>
                <tr>
                    <td>A7834223</td>
                    <td><span class="label">Inactive</span></td>
                </tr>
                <tr>
                    <td>A8759223</td>
                    <td><span class="label label-warning">Pending</span></td>
                </tr>
                <tr>

                    <td>A4215678</td>
                    <td><span class="label label-success">Active</span></td>
                </tr>
              </tbody>
            </table>
            </div>
	</div>
</div>
